.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; }
  
  .btn-main, .btn-light, .btn-dark {
    display: inline-block;
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s; }
  
  .btn-main {
    color: #fbfbfb;
    background-color: rgb(201, 31, 31); }
  
  .btn-light {
    color: #5d5d5d;
    background-color: #f4f4f4; }
  
  .btn-dark {
    color: #f4f4f4;
    background-color: #5d5d5d; }
  
  button[class^='btn-']:hover,
  a[class^='btn-']:hover,
  input[class^='btn-']:hover {
    background-color: rgb(201, 31, 31); }
  
  .bg-main {
    background: rgb(201, 31, 31);
    color: #f4f4f4; }
  
  .bg-dark { 
    background: #5d5d5d;
    color: #f4f4f4; }
  
  .bg-light {
    background: #fbfbfb;
    color: #5d5d5d; 
    font-size: 1.2rem;}
  .bg-light-center {
    color: #5d5d5d; 
    font-size: 1.2rem;
    text-align: center;}
  
  .bg-right {
    background: #fbfbfb;
    color: #5d5d5d; 
    font-size: 1.2rem;
    text-align: left;}
  
  .bg-medium {
    background: #4F7CAC;
    color: #f4f4f4; }
  
  .lead {
    color:rgb(201, 31, 31);
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  
  .text-center {
    text-align: center; }
  
  .text-highlight {
    color: rgb(201, 31, 31); }

  .body-text {
      color: rgb(201, 31, 31);
  }

  .py-1 {
    padding: 1rem 0; }
  
  .py-2 {
    padding: 2rem 0; }
  
  .py-3 {
    padding: 3rem 0; }
  
  .py-4 {
    padding: 4rem 0; }
  
  .my-1 {
    margin: 1rem 0; }
  
  .my-2 {
    margin: 2rem 0; }
  
  .my-3 {
    margin: 3rem 0; }
  
  .my-4 {
    margin: 4rem 0; }
  
  .section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 1.2rem; }
  
  .bottom-line {
    height: 2px;
    width: 3rem;
    background-color: rgb(201, 31, 31);
    display: block;
    margin: 0 auto 1rem auto; }
  
  * {
    margin: 0;
    padding: 0; }
  
  body {
    font-family: 'Teko', sans-serif;
    line-height: 1.6;
    background: #ffffff; }
  
  a {
    text-decoration: none; }
  
  ul {
    list-style: none; }

  p.italicize {
    font-style: italic;
    text-align: center;
    color: rgb(201, 31, 31);
  }
  
  h2, h3, h4 {
    color: #5d5d5d;
    text-transform: uppercase; }
  
  img {
    width: 100%; }
  
  #logo {
    width: 70px;
    height: 70px;
    color: #ffffff;
    text-transform: uppercase; }
  
  #main-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1rem; }
    #main-nav ul {
      display: flex;
      justify-content: center; }
    #main-nav li {
      padding: 1rem 1.5rem; }
    #main-nav a {
      text-decoration: none;
      color: #5d5d5d;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s; }
      #main-nav a:hover {
        border-color: #5d5d5d; }
      #main-nav a.current {
        border-color: rgb(201, 31, 31); }
  
  #header-home {
    height: 100vh;
    color: #5d5d5d;
    margin-bottom: 10rem; }
    #header-home .header-content {
      text-align: center;
      padding-top: 12%; }
      #header-home .header-content h1 {
        font-size: 6rem;
        line-height: 1.2; }

    #header-home .paragraph-content {
        text-align: center;
        margin-bottom: 2rem; }
        #header-home .paragraph-content h1 {
            font-size: 2rem;
            line-height: 1; }
  
  #header-home::before {
    content: '';
    filter: grayscale(100%); }
  
  #header-inner {
    height: 5.5rem; }
  
  #home-a .specials {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr); }
    
  #home-a .specialsStat {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, 1fr); }
  
  #home-a .fab,
  #home-a .fas {
    position: relative;
    padding: 20px;
    font-size: 5rem;
    color: #c4c4c4;
    transition: all 0.5s; }
  
  #home-a .fab:hover,
  #home-a .fas:hover {
    color: rgb(201, 31, 31);
    font-size: 7rem; }
  
  #about-a .about-info {
    display: grid;
    grid-template-areas: 'bioimage bio bio' 
                         'bioimage bio bio'
                         'pic1 pic2 pic3';
    text-align: left;
    color: #5d5d5d; }
  
  #about-a .bio-image {
    grid-area: bioimage;
    max-width: 350px;
    height: auto; }
  
  #about-a .bio {
    grid-area: bio;
    border-left: 3px solid rgb(201, 31, 31);;
    padding: 0.8rem; 
    font-size: 1.3rem;}
  
  #about-a .pic1 {
    grid-area: pic1;
    max-width: 800px;
    height: auto; }
  
  #about-a .pic2 {
    grid-area: pic2;
    max-width: 800px;
    height: auto; }
  
  #about-a .pic3 {
    grid-area: pic3;
    max-width: 800px;
    height: auto; }
  
  #work-a .work-info {
    display: grid;
    grid-template-areas: 'work4 job4 job4' 'work1 job1 job1' 'work2 job2 job2' 'work3 job3 job3';
    grid-gap: 1.2rem;
    color: #5d5d5d; }

  #work-a .work1 {
    grid-area: work1;
    max-width: 300px;
    height: auto; }
  
  #work-a .job1 {
    grid-area: job1;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; 
  }
  #work-a .work2 {
    grid-area: work2;
    max-width: 300px;
    height: auto; }
  
  #work-a .job2 {
    grid-area: job2;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }

  #work-a .work3 {
    grid-area: work3;
    max-width: 300px;
    height: auto; }
  
  #work-a .job3 {
    grid-area: job3;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }

  #work-a .work4 {
    grid-area: work4;
    max-width: 300px;
    height: auto; }
  
  #work-a .job4 {
    grid-area: job4;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }
  
  #work-b .project-info {
    display: grid;
    grid-template-areas: 'proj1 pjob1 pjob1' 'proj2 pjob2 pjob2' 'proj3 pjob3 pjob3';
    grid-gap: 1.2rem;
    color: #5d5d5d; }
  
  #work-b .proj1 {
    grid-area: proj1;
    max-width: 300px;
    height: auto; }
  
  #work-b .pjob1 {
    grid-area: pjob1;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }

  #work-b .proj2 {
    grid-area: proj2;
    max-width: 300px;
    height: auto; }
  
  #work-b .pjob2 {
    grid-area: pjob2;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }

  #work-b .proj3 {
    grid-area: proj3;
    max-width: 300px;
    height: auto; }
  
  #work-b .pjob3 {
    grid-area: pjob3;
    border-left: 3px solid rgb(201, 31, 31);
    padding: 0.8rem; }
  
  #contact-a .footer-title span {
    color: rgb(201, 31, 31); }
  
  #contact-a .contact-info a {
    color: #5d5d5d;
    text-decoration: none; }
  
  #contact-a .contact-info a:hover {
    color: rgb(201, 31, 31); }

  @media (max-width: 800px) {
    #header-home {
      height: 30rem; 
      margin-bottom: 10rem; }
      #header-home .header-content {
        padding-top: 5rem; } }
  
  @media (max-width: 500px) {
    #main-nav {
      flex-direction: column;
      align-items: center; }
      #main-nav li {
        padding: 1rem; }
    #header-home {
      padding-bottom: 10rem; }
    #home-a .specials {
      grid-template-columns: repeat(2, 1fr); }
    #home-a .fab,
    #home-a .fas {
      padding: 10px; }
    #home-a .section-title {
      margin-top: 30rem;
    }
    #contact-a .footer-title span {
      font-size: 1rem;
      color: rgb(201, 31, 31);; }
    #about-a .about-info {
      grid-template-areas: 'bioimage' 'bio' 'pic1' 'pic2' 'pic3'; }
    #work-a .work-info {
      grid-template-areas: 'work1' 'job1' 'work2' 'job2' 'work3' 'job3'; }
    #work-a .work1, #work-a .work2, #work-a .work3{
      margin: auto; }
    #work-b .project-info {
      grid-template-areas: 'proj1' 'pjob1' 'proj2' 'pjob2' 'proj3' 'pjob3'; }
    #work-b .proj1, #work-b .proj2, #work-b .proj3{
      margin: auto; } }